/* @font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url("styles/fonts/NotoSansKR-Light.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Light.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Light.otf") format('truetype')
} */

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url("styles/fonts/NotoSansKR-Regular.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Regular.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Regular.otf") format('truetype')
}


/* @font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  src: url("styles/fonts/NotoSansKR-Medium.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Medium.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Medium.otf") format('truetype')
} */

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url("styles/fonts/NotoSansKR-Bold.woff2") format('woff2'),
    url("styles/fonts/NotoSansKR-Bold.woff") format('woff'),
    url("styles/fonts/NotoSansKR-Bold.otf") format('truetype')
}

:root {
  font-family: 'Noto Sans CJK KR', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* height: 100%; */

  /* color-scheme: light dark; */
  color: #404040;
  overflow: hidden;
}

html, body, #root {
  /* height: 100%; */
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 400px;
}

.slide {
  position: absolute;
  left: 16px;
  right: 16px;
}

.fadeIn {
  animation: 0.2s fadeIn forwards;
}

.fadeOut {
  animation: 0.2s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

/* @media only screen and (min-width: 600px) {
  body {
    margin: 0 auto;
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0 auto;
    width: 40%;
  }
} */

/**
* 숫자 입력시 arrow key 방지
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}